@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');
:root{
     --card-background-color: hsl(0, 100%, 100%);
     --background-color: hsl(275, 100%, 97%);
     --background: hsl(292, 16%, 49%);
     --text-color: hsl(292, 42%, 14%);

     --font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
    font-family: var(--font-family);
    background-image: url('assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    place-content: center;
    display: grid;
}
.container{
    padding: 2rem;
    max-width: 600px;
    border-radius: 10px;
    margin:15% 10%;
    justify-content: center;
    background-color: var(--card-background-color);
}
.faq-headline{
    display: flex;
    gap: 1rem;
}
.faq-headline h1{
    font-weight: 700;
    font-size: 3rem;
}
img, svg{
    display: block;
    max-width: 70px;
}
.accordion-button{
    color:var(--text-color);
    cursor:pointer;
    background-color: transparent;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 1rem;
}
.accordion-button:hover{
color: purple;
}
.accordion-item{
    margin-top:1rem;
    margin-bottom:1rem;
}
.accordion-description{
    color: var(--background);
}
.accordion-container .accordion-item:not(:last-child){
    border-bottom:2px solid var(--background-color);
}

.minus-icon{
    display: none;
}

.accordion-description{
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease;
    margin-top: 0.5rem;
}

@media (width > 660px) {
    body{
        background-image: url('assets/images/background-pattern-desktop.svg');
    }
}